---
http_interactions:
- request:
    method: get
    uri: https://api.cloudflare.com/client/v4/zones?name=<test_domain>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Email:
      - "<cloudflare_email>"
      X-Auth-Key:
      - "<cloudflare_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":"<test_zone_id>","name":"<test_domain>","status":"active","paused":false,"type":"partial","development_mode":0,"verification_key":"516264631-4497085","original_name_servers":["NS10.DNSMADEEASY.COM","NS11.DNSMADEEASY.COM","NS12.DNSMADEEASY.COM","NS13.DNSMADEEASY.COM","NS14.DNSMADEEASY.COM","NS15.DNSMADEEASY.COM"],"original_registrar":"MARKMONITOR
        INC.","original_dnshost":null,"modified_on":"2016-06-27T20:02:59.886002Z","created_on":"2013-09-11T21:24:14.245201Z","meta":{"step":4,"wildcard_proxiable":false,"custom_certificate_quota":1,"page_rule_quota":100,"phishing_detected":false,"multiple_railguns_allowed":false},"owner":{"type":"organization","id":"c1b809605250ccfb25a6a8a31ecd3c78","name":"Sage
        One"},"permissions":["#analytics:read","#billing:edit","#billing:read","#cache_purge:edit","#dns_records:edit","#dns_records:read","#lb:edit","#lb:read","#logs:read","#organization:edit","#organization:read","#ssl:edit","#ssl:read","#waf:edit","#waf:read","#zone:edit","#zone:read","#zone_settings:edit","#zone_settings:read"],"plan":{"id":"94f3b7b768b0458b56d2cac4fe5ec0f9","name":"Enterprise
        Website","price":0,"currency":"USD","frequency":"monthly","legacy_id":"enterprise","legacy_discount":false,"is_subscribed":true,"can_subscribe":true,"externally_managed":true}}],"result_info":{"page":1,"per_page":20,"total_pages":1,"count":1,"total_count":1},"success":true,"errors":[],"messages":[]}'
  recorded_at: Sat, 16 Jul 2016 01:48:53 GMT
- request:
    method: post
    uri: https://api.cloudflare.com/client/v4/zones/<test_zone_id>/pagerules
    body:
      encoding: UTF-8
      string: '{"targets":[{"target":"url","constraint":{"operator":"matches","value":"<test_app_url>/*"}}],"actions":[{"id":"forwarding_url","value":{"url":"maintenance.na.<test_domain>","status_code":302}}],"status":"active"}'
    headers:
      X-Auth-Email:
      - "<cloudflare_email>"
      X-Auth-Key:
      - "<cloudflare_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":"<test_zone_id>","name":"<test_domain>","status":"active","paused":false,"type":"partial","development_mode":0,"verification_key":"5[...]
