---
http_interactions:
- request:
    method: get
    uri: https://api.cloudflare.com/client/v4/zones?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Email:
      - angela.mancini@sage.com
      X-Auth-Key:
      - 6d4824a9bfa83fe4c11c18062e2899c0fcabb
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[],"result_info":{"page":1,"per_page":20,"total_pages":0,"count":0,"total_count":0},"success":true,"errors":[],"messages":[]}'
  recorded_at: Fri, 15 Jul 2016 19:48:11 GMT
recorded_with: VCR 3.0.3
